
@{
    ViewBag.Title = "Degree";
}

<h2>@ViewBag.DegreeName</h2>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default" id="profpanel">
            <div class="panel-heading">Coordinator</div>
            <div class="panel-body">
                <h3>@ViewBag.Coordinator</h3>
                <h4>@ViewBag.ProfTitle</h4>
                <img src="~/Images/@ViewBag.Picture" class="img-responsive professor" />
                <br /><br />
                <p><strong>Office:</strong> @ViewBag.Office</p>
                <br />
               <!--<ul style="list-style: none;">-->
                    <p>@ViewBag.PhD</p>
                    <p>@ViewBag.Masters</p>
                    <p>@ViewBag.Bachelors</p>
               <!-- </ul>-->
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="container">
            <h2>FAQ's</h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">@ViewBag.Question1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            @ViewBag.Answer1
                            <br />
                            <form class="questionForm">
                                <div class="form-inline">
                                    <label for="Textarea">Reply:</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="1" columns="6"></textarea>
                                    <button type="reset" class="btn btn-primary">Submit</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@ViewBag.Question2</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            @ViewBag.Answer2
                            <br />
                            <form class="questionForm">
                                <div class="form-inline">
                                    <label for="Textarea">Reply:</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="1" columns="6"></textarea>
                                    <button type="reset" class="btn btn-primary">Submit</button>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">@ViewBag.Question3</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            @ViewBag.Answer3
                            <br />
                            <form class="questionForm">
                                <div class="form-inline">
                                    <label for="Textarea">Reply:</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="1" columns="6"></textarea>
                                    <button type="reset" class="btn btn-primary">Submit</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">@ViewBag.Question4</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            @ViewBag.Answer4
                            <br />
                            <form class="questionForm">
                                <div class="form-inline">
                                    <label for="Textarea">Reply:</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="1" column="5"></textarea>
                                    <button type="reset" class="btn btn-primary">Submit</button>
                                </div>                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Form to submit a new question-->
            
                <h3 class="questionHeading">Submit a Question</h3>
                <form class="questionForm pull-left">
                    <div class="form-inline">
                        <label for="firstName">First Name</label>
                        <input class="form-control]" size="40" id="firstName" placeholder="First Name">
                    </div>
                    <br />
                    <div class="form-inline">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" size="40" id="lastName" placeholder="Last Name">
                    </div>
                    <br />
                    <div class="form-inline">
                        <label for="inputEmail1">Email address</label>
                        <input type="email" class="form-control" size="40" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <br />
                    <div class="form-inline">
                        <label for="Textarea">Question:</label>
                        <textarea class="form-control" size="45" id="exampleTextarea" rows="4"></textarea>
                    </div>
                    <br />
                    <button type="reset" class="btn btn-primary">Submit</button>
                </form>
</div>
    </div>
</div>
<footer></footer>

